<div class="container">
  <div class="form-container">
    <h1>¡Bienvenido!</h1>
    <p>Inicia sesión para gestionar a tus pacientes.</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      @if (form.errors?.['invalidCredentials']) {
        <div class="alert-error" role="alert" aria-live="assertive">
          Usuario o contraseñas inválidos.
        </div>
      }

      <label for="username">Nombre de usuario</label>
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Introduce tu nombre de usuario"
        class="mi-input"
        formControlName="username"
      />
      @if (username.hasError('required') && (username.touched || username.valid)) {
        <p class="field-error">El usuario es obligatorio.</p>
      }

      <label for="password">Contraseña</label>
      <input type="password" name="password" id="password" placeholder="Introduce tu contraseña" class="mi-input" formControlName="password"/>
      @if (password.hasError('required') && (password.touched || password.valid)) {
        <p class="field-error">La contraseña es obligatoria.</p>
      }

      <button type="submit">Iniciar sesión</button>
    </form>
  </div>
</div>
