.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
  background-color: #f8f8f8;
}


.form-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 450px;
  text-align: center;
}


form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 1rem;
}

label {
    text-align: start;
    font-size: 0.9em;
}

.mi-input {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.mi-input:focus {
    border-color: #20DF6C;
}

button {
    margin-top: 20px;
    border-radius: 10px;
    background-color: #20DF6C;
    color: #FFFFFF;
    border: none;
    padding: 5px 0px;
    cursor: pointer;
    transition: background-color 0.5s;
}

button:hover {
    background-color: #18b356;
}

h1, p, label, input, button {
    font-family: 'Inter';
}

h1 {
    font-weight: 900;
}


p {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #333333;
}

