section {
  margin: 40px 60px;
  font-family: 'Inter';
}

.informacion {
    margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tarjeta {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
  background-color: rgb(255,255,255);
  border: 1px solid rgb(215,231,207);
  border-radius: 5px;
  box-shadow: 0 1px 10px rgba(16, 185, 129, 0.22);
}

.englobar-icono {
  display: flex;
  gap: 10px;
  align-items: center;
}

.botones {
  margin-top: 25px;
  display: flex;
  gap: 20px;
}

.botones button {
  flex: 1;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 300;
  cursor: pointer;
  transition: .15s ease;
}

#editar {
  background-color: rgb(32,223,108);
}

#editar:hover {
  background-color: rgb(25, 190, 91);
  transform: scale(1.03);
}

#exportar {
  background-color: rgb(255,117,117);
}

#exportar:hover {
  background-color: rgb(224, 102, 102);
  transform: scale(1.03);
}

/* móvil */
@media (max-width: 768px) {
  section {
    margin: 20px 16px;
  }

  .botones {
    flex-direction: column;
  }

  .botones button {
    width: 100%;
  }
}
