header{
    border-bottom: 1px solid rgb(224,224,224);
    height: 10vh;
     display: flex;
    align-items: center; /* centra verticalmente */
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: Inter;
}

.contenedor-logo{
    margin-left: 20px;
    
}

.contenedor-links{
    margin-right: 20px;
}

.contenedor-links a{
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-size: 0.85rem;
}

.contenedor-links a:hover{
    color: rgb(32,223,108);
}
