.contenedor-principal{
    margin: 20px;
    font-family: 'Inter';
}

.contenido-cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido-cabecera button{
    padding: 10px 20px;
    background-color: #20DF6C;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.turno{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}

.verde{
    color: rgb(65, 120, 65);
}

.contenedor-btn {
    display: flex;
    gap: 1rem;
}

.estado {
  padding: 4px 10px;
  border-radius: 10px;
  font-weight: 600;
}

.estado.Pendiente {
  background-color: #fff9c4;
  color: #8a6d00;
}

.estado.Cancelado {
  background: #ffdddd;
  color: #a30000;
}

.estado.Realizado {
  background-color: #c8e6c9;
  color: #2e7d32;
}


.filtro{
  display: flex;
  gap: 5px;
  align-items: center;
  margin-right: 10px;
}

.filtro select{
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #1e9b50;
  color: #1e9b50;
}
