.container {
    font-family: 'Inter';
    min-height: calc(100vh - 50px);
    background-color: #F9FCF8;
}

.container-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.container-superior h1 {
    font-weight: 900;
    font-size: 44px;
}

.container-superior .btn-agregar {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #20DF6C;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: transform 0.2s ease;
}

.container-superior .btn-agregar:hover {
    background-color: #1ac45a;
    transform: scale(1.1);
}




/* LISTADO DE PACIENTES */

.container-tabla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 50px 0px;
}

table {
    font-family: 'Inter';
    max-width: 1300px;
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

thead {
    background-color: #3C935F;
    font-weight: bold;
    color: white;
}

thead td {
    padding-left: 16px;
}

thead tr th {
    padding: 8px 16px 8px 16px;
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5px;
}

tbody tr {
    border-bottom: 1px solid #e5e7eb;
    transition: background-color 0.2s ease;
}

tbody tr:hover {
    background-color: #f3f4f6;
}

tbody td {
    padding: 14px 16px;
    color: #374151;
    font-size: 14px;
}

table thead th,
table tbody td {
    vertical-align: middle;
}

table thead th:nth-child(6),
table tbody td:nth-child(6) {
    text-align: center;
    width: 90px;
    padding-left: 0;
    padding-right: 16px;
}

.acciones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-ver,
.btn-eliminar {
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
}

.btn-ver {
    background-color: rgba(32, 223, 108, 0.2);
}

.btn-eliminar {
    background-color: rgba(229, 115, 115, 0.2);
}

.btn-ver:hover,
.btn-eliminar:hover {
    transform: scale(1.3);
}

.btn-ver:hover {
    background-color: rgba(25, 164, 80, 0.2);

}

.btn-eliminar:hover {
    background-color: rgba(126, 27, 27, 0.2)
}

svg {
    scale: 0.7;
}

