:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    background-color: #F9FCF8;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 40px 50px;
    border-radius: 5%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    width: 600px;
    text-align: left;
    scale: 0.9;
}

.texto-container {
    text-align: center;
    margin-bottom: 30px;
}

.texto-container h1 {
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 8px;
    color: #222;
}

.texto-container p {
    color: #666;
    font-size: 14px;
    margin: 0;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

label {
    font-weight: normal;
    font-size: 16px;
    color: #669A4C;
}

input[type="text"],
input[type="number"] {
    background-color: #EBF3E7;
    width: 100%;
    padding: 12px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.2s;
}

input:focus {
    border-color: #20DF6C;
    outline: none;
}

.grupo-genero {
    display: flex;
    gap: 15px;
    margin-top: 5px;
}

.grupo-genero label {
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 5px;
}

input[type="radio"] {
    accent-color: #20DF6C;
}


.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
}

.btn-enviar {
    background-color: #20DF6C;
    color: white;
    border: none;
    padding: 14px 14px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: transform 0.2s ease;
}

.btn-enviar:hover {
    transform: scale(1.05);
    background-color: #1ac45a;
}

.btn-cancelar {
    background-color: #EBF3E7;
    color: black;
    border: none;
    padding: 14px 14px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: transform 0.2s ease;
}

.btn-cancelar:hover {
    transform: scale(1.05);
    background-color: #d1d9cc;
}