section{
    margin: 40px 250px;
    font-family: 'Inter';
}

.informacion{
    margin-top: 20px;
}

.tarjeta{
    padding: 20px;
    margin-top: 20px;
    background-color: rgb(255,255,255);
    border: 1px solid rgb(215,231,207);
    border-radius: 5px;
    box-shadow: 0 1px 10px rgba(16, 185, 129, 0.22);
}

.tarjeta h3{
    margin-bottom: 8px;
}

.englobar-icono{
    display: flex;
    gap: 10px;
}

.tarjeta textarea, input{
width: 100%;
padding: 10px;
border-radius: 6px;
border: 1px solid #e6e6e6;
resize:none;
font-family: inherit;
}

.botones{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.botones button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 300;
}

#editar{
    background-color:rgb(32,223,108) ;
    cursor: pointer;
    
}

#editar:hover {
    background-color: rgb(25, 190, 91);
    transform: scale(1.05);
}

#exportar{
    background-color: rgb(255,117,117);
    cursor: pointer;
}

#exportar:hover {
    background-color: rgb(224, 102, 102);
    transform: scale(1.05);
}


@media (max-width: 768px) {
  section {
    margin: 20px 16px;
  }

  .botones {
    flex-direction: row;
    gap: 30px;
  }

  .botones button {
    width: 50%;
  }
}