¿:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
  background-color: #F9FCF8;
  font-family: 'Inter', sans-serif;
  padding: 20px;
  box-sizing: border-box;
}


.container {
  background-color: #fff;
  padding: 40px 50px;
  border-radius: 5%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  width: 100%;
  max-width: 600px;
  text-align: left;
  margin: auto;
  box-sizing: border-box;
}


.texto-container {
  text-align: center;
  margin-bottom: 30px;
}

.texto-container h1 {
  font-size: 26px;
  font-weight: 900;
  margin-bottom: 8px;
  color: #222;
}

.texto-container p {
  color: #666;
  font-size: 14px;
  margin: 0;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

label {
  font-weight: 600;
  font-size: 16px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="tel"],
select {
  font-family: 'Inter';
  width: 100%;
  padding: 12px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.2s;
  box-sizing: border-box;
}


input:focus, select:focus{
  border-color: #20DF6C;
  outline: none;
}

.grupo-genero {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 5px;
}

.grupo-genero select {
  width: 100%;
}

input[type="radio"] {
  accent-color: #20DF6C;
}

span {
  display: block;
  color: #dc3545;
  font-size: 13px;
}

.btn-enviar {
  background-color: #20DF6C;
  color: white;
  border: none;
  padding: 14px 0;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}

.btn-enviar:hover {
  transform: scale(1.05);
  background-color: #1ac45a;
}

/*Movil*/
@media (max-width: 480px) {
  :host {
    padding: 15px;
    align-items: flex-start;
    padding-top: 20px;
  }

  .container {
    padding: 25px 20px;
    border-radius: 15px;
  }

  .texto-container h1 {
    font-size: 20px;
  }

  .texto-container p {
    font-size: 12px;
  }

  label {
    font-size: 14px;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="date"],
  input[type="tel"],
  select {
    padding: 10px;
    font-size: 13px;
  }

  .btn-enviar {
    padding: 12px 0;
    font-size: 14px;
  }

  .form-container form {
    gap: 15px;
  }
}