:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  background-color: #F9FCF8;
  font-family: 'Inter', sans-serif;
  margin: 0;
}


.container {
  background-color: #fff;
  padding: 40px 50px;
  border-radius: 5%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  width: 600px;
  text-align: left;
  scale: 0.9;
}


.texto-container {
  text-align: center;
  margin-bottom: 30px;
}

.texto-container h1 {
  font-size: 26px;
  font-weight: 900;
  margin-bottom: 8px;
  color: #222;
}

.texto-container p {
  color: #666;
  font-size: 14px;
  margin: 0;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

label {
  font-weight: 600;
  font-size: 16px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="tel"],
select {
  font-family: 'Inter';
  width: 100%;
  padding: 12px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.2s;
}


input:focus, select:focus{
  border-color: #20DF6C;
  outline: none;
}

.grupo-genero {
  display: flex;
  gap: 15px;
  margin-top: 5px;
}

.grupo-genero label {
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 5px;
}

input[type="radio"] {
  accent-color: #20DF6C;
}

.btn-enviar {
  background-color: #20DF6C;
  color: white;
  border: none;
  padding: 14px 0;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
    transition: transform 0.2s ease;
}

.btn-enviar:hover {
    transform: scale(1.05);
  background-color: #1ac45a;
}

