<div class="container">
  <div class="texto-container">
    <h1>Agregar Nuevo Paciente</h1>
    <p>Complete el formulario para agregar un nuevo paciente.</p>
  </div>

  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
      <label for="nombre-completo">Nombre completo</label>
      <input
        type="text"
        name="nombre-completo"
        id="nombre-completo"
        formControlName="nombre"
        placeholder="ej. Juan Pérez"
      />
      @if (nombre.hasError("required") && (nombre.touched || nombre.dirty)) {
      <span>❌El nombre es obligatorio.</span>
      }

      <label for="genero">Género</label>
      <div class="grupo-genero">
        <select id="genero" formControlName="genero">
          <option value="" selected disabled>Seleccione género</option>
          @for (genero of generos; track $index){
          <option [value]="genero">{{ genero }}</option>
          }
        </select>
        @if (genero.hasError("required") && (genero.touched || genero.dirty)) {
        <span>❌El género es obligatorio.</span>
        }
      </div>

      <label for="correo">Correo electrónico</label>
      <input
        type="email"
        name="correo"
        id="correo"
        formControlName="correo"
        placeholder="ej. juan.perez@correo.com"
      />
      @if (correo.hasError("required") && (correo.touched || correo.dirty)) {
      <span>❌El correo es obligatorio.</span>
      } @else if (correo.hasError("email") && (correo.touched || correo.dirty)) {
      <span>❌El correo tiene que tener formato correo.</span>
      }

      <label for="telefono">Número de teléfono</label>
      <input
        type="text"
        name="telefono"
        id="telefono"
        formControlName="telefono"
        placeholder="ej. 555-123-4567"
      />
      @if (telefono.hasError("required") && (telefono.touched || telefono.dirty)) {
      <span>❌El teléfono es obligatorio.</span>
      } @else if (telefono.hasError("pattern") && (telefono.touched || telefono.dirty)) {
      <span>❌El teléfono tiene que ser solo numérico.</span>
      } @else if (telefono.hasError("minlength") && (telefono.touched || telefono.dirty)) {
      <span>❌El teléfono tiene que tener como mínimo 7 dígitos.</span>
      } @else if (telefono.hasError("maxlength") && (telefono.touched || telefono.dirty)) {
      <span>❌El teléfono tiene que tener como máximo 15 dígitos.</span>
      }

      <label for="fecha-nacimiento">Fecha de nacimiento</label>
      <input
        type="date"
        name="fecha-nacimiento"
        formControlName="fechaNacimiento"
        id="fecha-nacimiento"
      />
      @if (fechaNacimiento.hasError("required") && (fechaNacimiento.touched || fechaNacimiento.dirty)) {
        <span>❌La fecha de nacimiento es obligatoria.</span>
      }

      <button class="btn-enviar">Agregar Paciente</button>
    </form>
  </div>
</div>
