@let paciente = this.paciente();
@let esEdicion = this.esEdicion();

@if (paciente) {
<div class="container">
  <div class="texto-container">
    @if (esEdicion) {
      <h1>Editar turno para {{paciente.nombre}}</h1>
      <p>Modifique los detalles del turno</p>
    } @else {
      <h1>Agenda un turno para {{paciente.nombre}}</h1>
      <p>Complete el formulario para agendar un nuevo turno</p>
    }
  </div>

  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
      
      <label for="fecha">Fecha</label>
      <input
        type="date"
        name="fecha"
        id="fecha"
        placeholder="ej. Juan Pérez"
        formControlName="fecha"
      />


      <label for="hora">Hora</label>
      <input
        type="time"
        name="hora"
        id="hora"
        formControlName="hora"
      />
      
      
     
      <label for="obser">Observaciones</label>
      <input
        type="text"
        name="obser"
        id="obser"
        placeholder="ej. Realizar mediciones estandar"
        formControlName="observaciones"
      />

      @if (esEdicion) {
        <button class="btn-enviar">Actualizar turno para {{paciente.nombre}}</button>
      } @else {
        <button class="btn-enviar">Agendar turno para {{paciente.nombre}}</button>
      }
    </form>
  </div>
</div>
}